<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BloggersIsland</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>




<body>
  <header>
    <h1>Say hello to DailyBlog</h1>
  </header>
  <main>
    <div class="blog">
      {{{body}}}
    </div>
  </main>
</body>

</html>