<nav>
  <a href="/">Home</a>   
  {{#if loggedIn}}
  <a href="/dashboard">Dashboard</a>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
</nav>

<div>
  {{#if loggedIn}}
  <p>Click here to log out</p>
  <button class="btn btn-primary logout-btn" id="logout">Logout</button>
  {{else}}
  <p>You have been logged out</p>
  {{/if}}

</div>

<script src="./js/logout.js"></script>